* {
  margin: 0;
  padding: 0;
}
body {
  font-family: arial, sans-serif;
}
#nav-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 16px 10px 0px 0px;
  font-size: 13px;
}
#nav1 {
  grid-column: 2/3;
  justify-self: end;
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  padding-right: 15px;
}
#nav1 a {
  color: rgba(0, 0, 0, 0.87);
}

#logo {
  display: block;
  margin: 180px auto 0 auto;
}
#search-bar {
  display: block;
  margin: 10px auto;
  border-radius: 24px;
  padding: 6px 30px 6px 30px;
  border: 1px solid #dfe1e5;
  width: 420px;
  height: 34px;
  line-height: 34px;
  font-size: 16px;
}
#search-bar:hover {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}
#search-bar:focus {
  outline: none;
}

#main-btn-container {
  display: inline-block;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 20px;
  width: 100%;
}
.main-btn {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border: none;
  color: #5f6368;
  padding: 4px 16px;
  margin: 4px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 27px;
}
.main-btn:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: #222;
}
#main-text {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: small;
}
#main-text a {
  padding: 4px;
  color: blue;
}

li {
  display: inline;
  font-family: aria, sans-serif;
  padding: 0;
}

a {
  padding: 10px;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#apps-logo {
  width: 30px;
  height: 30px;
}

#login-btn {
  background-color: #4285f4;
  border: none;
  color: white;
  padding: 8px 13px;
  font-family: aria, sans-serif;
  border-radius: 3px;
}
footer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  position: fixed;
  background-color: #f2f2f2;
  width: 100%;
  overflow: hidden;
  bottom: 0;
  font-size: 15px;
}

#footer-1 {
  padding: 12px 28px;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: start;
  border-top: 1px solid #e4e4e4;
  width: 100%;
  color: rgba(0, 0, 0, 0.54);
}
#footer-2 {
  padding: 19px;
  grid-column: 1/2;
  justify-self: start;
  border-top: 1px solid #e4e4e4;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
#footer-2-1 {
  grid-column: 1/2;
  justify-self: start;
}
#footer-2-2 {
  grid-column: 2/3;
  justify-self: end;
  margin-right: 34px;
}

#footer-1,
#footer-2 {
  align-self: center;
}
#footer-2-1 a,
#footer-2-2 a {
  color: rgba(0, 0, 0, 0.54);
}
